[Unit]
Description=ControlMan Service Manager
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/controlman -daemon
Restart=always
RestartSec=5
StandardOutput=append:/var/log/controlman.log
StandardError=append:/var/log/controlman.error.log

[Install]
WantedBy=multi-user.target 