[Unit]
Description=ControlMan Service Manager
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root
Environment=HOME=/root
ExecStart=/usr/local/bin/controlman -daemon -api -username admin -password admin
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 